[Unit]
Description=Grafana Alloy
After=network.target


[Service]

User={{ alloy_user }}
Group={{ alloy_group }}

ExecStart={{ alloy_binary_path }} run \
--storage.path={{ alloy_data_dir }} \
{{ alloy_config_dir }}/config.alloy

Restart=always


[Install]

WantedBy=multi-user.target